{% extends 'base.html'%}
{% block body%}
<div class="buffer" style="min-height: 3rem;"></div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3"></div>
            {% if state == 1 %}
            <div class="col-md-6">
                <h2> Apply for Combined Engineering Admission Test </h2>
                <!-- Flash Message -->
                {% if flash_msg %}
                <div class="alert alert-warning" role="alert">
                    {{flash_msg[0]}}
                </div>
                <!-- Flash Message Ends-->
                {% endif %}
                <!-- Apply form starts-->
                <br>
                <form action = "{{url_for('process_apply')}}" method = "post" enctype="multipart/form-data">
                    <div class="form-group">
                      <label for="HSC_ROLL"> HSC Roll No:  </label>
                      <input type="text" class="form-control" id="HSC_ROLL" name="HSC_ROLL" placeholder="7 digit HSC Roll No">
                    </div>
                    <div class="form-group">
                        <label for="HSC_REG"> HSC Registration No:  </label>
                        <input type="text" class="form-control" id="HSC_REG" name="HSC_REG" placeholder="9 Digit HSC Roll">
                    </div>

                    <div class="form-group">
                        <label for="NAME"> Name:  </label>
                        <input type="text" class="form-control" id="NAME" name="NAME" placeholder="Full Name">
                    </div>
                    
                    <div class="form-group">
                        <label for="DATE_OF_BIRTH"> Date of Birth: </label>
                        <input type="date" class="form-control" id="DATE_OF_BIRTH" name="DATE_OF_BIRTH">
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="QUOTA_STATUS", name="QUOTA_STATUS">
                        <label class="form-check-label" for="QUOTA_STATUS">Check if You have Quota Status </label>
                    </div>

                    Select Exam Center:

                    {% for seat in seats %}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="CENTER" value="{{seat[0]}}" id="CENTER" {% if seat[1] == 0 %}disabled{% endif %}>
                        <label class="form-check-label" for="CENTER"> {{ seat[0] }} </label>
                    </div>
                    {% endfor %}
                    <div class="form-group">
                        <label for="Password">Enter Password</label>
                        <input type="password" class="form-control" name="PASS" id="Password" placeholder="Enter Password">
                    </div>

                    <div class="form-group">
                        <label for="Password">Re Enter Password</label>
                        <input type="password" class="form-control" name="REPASS" id="Password" placeholder="Re Enter Password">
                    </div>

                    <div class="form-group">
                        <label for="PICTURE">Profile Picture: </label><br>
                        <input type="file" class="form-control-file" name="PICTURE" id="PICTURE">
                        <small id="PICTURE" class="form-text text-muted"> Upload PNG file only. (200px x 240px)</small>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                <!-- Apply form ends -->
            </div>
            {% else %}
            <div class="col-md-6">
                <h2 style="color: red;"> Application Deadline is over. </h2>
            </div>
            {% endif %}
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
{% endblock %}