{% extends 'base.html'%}

{% block body%}
<div class="buffer" style="min-height: 3rem;"></div>
<div class="card">
    <div class="row">
        <div class="col-md-5">
            <img src="{{ url_for ('static', filename= 'logo_all.png')}}" alt="" style="max-width: 100%; height: auto;">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h1> Combined Admission of
                    BUET, CUET, KUET & RUET!</h1>
                <h3>Session : 2021-2022</h3>

                <a class="btn btn-outline-primary" href="{{url_for('apply')}}" role="button"
                    style="margin-top: 5px; margin-right: 20px;">Apply Online</a>
                Apply from PC/Laptop for better view <br>
            </div>
        </div>
    </div>
</div>

<div class="buffer" style="min-height: 1rem;"></div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-7">
                <h3> Important Info </h3>
                <p>
                {% set rows = GLOBAL_DATA[0][0].split(';') %}
                {% for row in rows %}
                     {{ row }} </br>
                {% endfor %}
                </p>
            </div>
            <div class="col-md-4">
                <h3> Important Dates: </h3>
                <table class="table table-borderless ">
                    <tr> {% if GLOBAL_DATA[0][1] %} <td> <b>Apply Starts: </b> </td> <td>  {{ GLOBAL_DATA[0][1] }} </td> {% endif %} </tr>
                    <tr> {% if GLOBAL_DATA[0][2] %} <td> <b>Apply Ends: </b> </td> <td>  {{ GLOBAL_DATA[0][2] }} </td> {% endif %} </tr>
                    <tr> {% if GLOBAL_DATA[0][3] %} <td> <b>Exam on: </b> </td> <td>  {{ GLOBAL_DATA[0][3] }} </td> {% endif %} </tr>
                    <tr> {% if GLOBAL_DATA[0][4] %} <td> <b>Result On: </b> </td> <td>  {{ GLOBAL_DATA[0][4] }} </td> {% endif %} </tr>
                    <tr> {% if GLOBAL_DATA[0][5] %} <td> <b>Migration Starts: </b> </td> <td>  {{ GLOBAL_DATA[0][5] }} </td> {% endif %} </tr>
                </table>
                
            </div>
        </div>
    </div>
</div>


<div class="buffer" style="min-height: 1rem;"></div>
<div class="card">
    
    <div class="card-body" >
        <h2> Subjects and number of seats in universities </h2>
        <div class="row">
            <div class="col-md-6" style="margin-top: 20px;">
                <h4> BUET  </h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Department</td> <td> General Seat </td> <td>Quota Seat </td>
                        </tr>
                    </thead>
                    {% for row in BUET_SEATS %}
                    <tr>
                        <td>{{row[0]}} </td>  <td>{{row[1]}}  </td> <td>{{row[2]}}  </td>
                    </tr>
                        
                    {% endfor %}
        
                </table>
            </div>
            <div class="col-md-6" style="margin-top: 20px;">
                <h4>  CUET  </h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Department</td> <td> General Seat </td> <td>Quota Seat </td>
                        </tr>
                    </thead>
                    {% for row in CUET_SEATS %}
                    <tr>
                        <td>{{row[0]}} </td>  <td>{{row[1]}}  </td> <td>{{row[2]}}  </td>
                    </tr>
                        
                    {% endfor %}
        
                </table>
            </div>

            <div class="col-md-6" style="margin-top: 20px;">
                <h4>  KUET  </h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Department</td> <td> General Seat </td> <td>Quota Seat </td>
                        </tr>
                    </thead>
                    {% for row in KUET_SEATS %}
                    <tr>
                        <td>{{row[0]}} </td>  <td>{{row[1]}}  </td> <td>{{row[2]}}  </td>
                    </tr>
                        
                    {% endfor %}
        
                </table>
            </div>

            <div class="col-md-6" style="margin-top: 20px;">
                <h4>  RUET  </h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Department</td> <td> General Seat </td> <td>Quota Seat </td>
                        </tr>
                    </thead>
                    {% for row in RUET_SEATS %}
                    <tr>
                        <td>{{row[0]}} </td>  <td>{{row[1]}}  </td> <td>{{row[2]}}  </td>
                    </tr>
                        
                    {% endfor %}
        
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}