{% extends 'base.html'%}

{% block body%}
<div class="buffer" style="min-height: 3rem;"></div>
<div class="card">
    <div class="card-body">
        {% if flash_msg %}
        <div class="alert alert-warning" role="alert">
            {{flash_msg[0]}}
        </div> 
        {% endif %}
        <h1 class="text-center"> Admin Home Page </h1>
        <div class="row">
            <div class="col-md-7">
                <h3> Important Info </h3>
                <p>
                {% set rows = GLOBAL_DATA[0][0].split(';') %}
                {% for row in rows %}
                     {{ row }} </br>
                {% endfor %}
                </p>
            </div>
            <div class="col-md-4">
                <h3> Important Dates: </h3>
                <table class="table table-borderless ">
                    <tr> {% if GLOBAL_DATA[0][1] %} <td> <b>Apply Starts: </b> </td> <td>  {{ GLOBAL_DATA[0][1] }} </td> {% endif %} </tr>
                    <tr> {% if GLOBAL_DATA[0][2] %} <td> <b>Apply Ends: </b> </td> <td>  {{ GLOBAL_DATA[0][2] }} </td> {% endif %} </tr>
                    <tr> {% if GLOBAL_DATA[0][3] %} <td> <b>Exam on: </b> </td> <td>  {{ GLOBAL_DATA[0][3] }} </td> {% endif %} </tr>
                    <tr> {% if GLOBAL_DATA[0][4] %} <td> <b>Result On: </b> </td> <td>  {{ GLOBAL_DATA[0][4] }} </td> {% endif %} </tr>
                    <tr> {% if GLOBAL_DATA[0][5] %} <td> <b>Migration Starts: </b> </td> <td>  {{ GLOBAL_DATA[0][5] }} </td> {% endif %} </tr>
                </table>
                
            </div>
        </div>
    </div>
</div>

<div class="buffer" style="min-height: 1rem;"></div>
<div class="card">    
    <div class="card-body" style="padding: 1cm;">
        <form action = "{{url_for('process_update')}}" method = "post" enctype="multipart/form-data">
            <div class="row">
            <div class="col-md-7">
                <h3> Global Data </h3>
                    <div class="form-group">
                        <div class="row">
                            <div class="buffer" style="min-height: 1rem;"></div>
                            <h5> Application Period </h5>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="app-start-date">Start </label>
                                    <input type="date" class="form-control" name="app-start-date" id="app-start-date" aria-describedby="basic-addon1" placeholder="DD/MM/YYYY">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="app-end-date">End </label>
                                    <input type="date" class="form-control" name="app-end-date" id="app-end-date" aria-describedby="basic-addon1" placeholder="DD/MM/YYYY">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="buffer" style="min-height: 1rem;"></div>
                    <div class="form-group">
                        <label for="exam-date">Exam Date </label>
                        <input type="date" class="form-control" name="exam-date" id="exam-date" aria-describedby="basic-addon1" placeholder="DD/MM/YYYY">
                    </div>
                
                    <div class="buffer" style="min-height: 1rem;"></div>
                    <div class="form-group">
                        <label for="result-date">Result will be published on </label>
                        <input type="date" class="form-control" name="result-date" id="result-date" aria-describedby="basic-addon1" placeholder="DD/MM/YYYY">
                    </div>


                    <div class="buffer" style="min-height: 1rem;"></div>
                    <div class="form-group">
                        <label for="mig-date"> Migration </label>
                        <input type="date" class="form-control" name="mig-date" id="mig-date" aria-describedby="basic-addon1" placeholder="DD/MM/YYYY">
                    </div>
            </div>
            <div class="col-md-5">
                <div class="buffer" style="min-height: 6rem;"></div>
                    <div class="form-group">
                        <label for="state">State of the System</label>
                        <select class="state" id="state" name="state">
                        <option value = "0" selected>Unchanged</option>                            
                        <option value = "1">Apply Period</option>
                        <option value = "2">Examination</option>
                        <option value = "3">Subject Choice Selection</option>
                        <option value = "4">Migration</option>
                        </select>
                    </div>
                    <div class="buffer" style="min-height: 2rem;"></div>
                    <div class="form-group">
                        <h6>Admin Message: </h5>
                        <textarea class="admin-msg" name="admin-msg" id="admin-msg" rows="8" cols = "60"></textarea>
                    </div>
            </div>

            <div class="buffer" style="min-height: 3rem;"></div>
            <button type="submit" class="btn btn-primary">Update</button>

        </div>
        </form>
    </div>
    <div class="buffer" style="min-height: 1rem;"></div>

</div>


<div class="buffer" style="min-height: 1rem;"></div>
<div class="card">    
    <div class="card-body"  style="padding: 1cm;">
        <div class="row">
            <div class="col-md-4">
                <h3>Add Mark of an Examinee: </h3> 
                <form action = "{{url_for('update_marks')}}" method = "post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="EXAMINEE_ID">Examinee ID: </label>
                                <input type="text" class="form-control" name="EXAMINEE_ID" id="EXAMINEE_ID" placeholder="6 Digit Examinee ID">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="MATH_MARK">Math Mark: </label>
                                <input type="text" class="form-control" name="MATH_MARK" id="MATH_MARK" placeholder="Math Mark">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PHY_MARK">Phy Mark: </label>
                                <input type="text" class="form-control" name="PHY_MARK" id="PHY_MARK" placeholder="Phy Mark">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CHM_MARK">Chm Mark: </label>
                                <input type="text" class="form-control" name="CHM_MARK" id="CHM_MARK" placeholder="Chm Mark">
                            </div>
                        </div>
                    </div>
                    <br>    <button type="submit" class="btn btn-primary">Submit Mark</button>
                </form>
            </div>
            <div class="col-md-4">
                <h3> Update mark from a CSV file. </h3>
                <p>The CSV file should contain 4 column. Examinee_ID, math_mark, phy_mark and chm_mark</p>
                <form action = "{{url_for('mark_from_csv')}}" method = "post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="CSV_file"> CSV File: </label><br>
                        <input type="file" class="form-control-file" name="CSV_file" id="CSV_file">
                        <small id="CSV_file" class="form-text text-muted"> Upload CSV file only.</small>
                    </div>

                    <br>    <button type="submit" class="btn btn-primary">Submit CSV</button>
                </form>
                
            </div>
            <div class="col-md-4">
                <h3> Generate Merit List </h3>
                <p>Generate general and quota merit list. </p>

                <a href="{{url_for('generate_merit_list')}}">
                    <button type="button" class="btn btn-primary float-right"> Generate Merit List </button>
                </a>

            </div>
            
            <div class="col-md-4">
                <br><br> <h3> Confirm / Cancel Admission </h3>
                <form action = "{{url_for('update_admission')}}" method = "post">
                    <div class="form-group">
                        <label for="POSITION">Merit/Quota position: </label>
                        <input type="text" class="form-control" name="POSITION" id="POSITION" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="task">  Task: </label>
                        <select class="form-control" id="task" name="task">                          
                        <option value = "1" default>  Confirm Admission </option>
                        <option value = "2">Cancel Admission </option>
                        <option value = "3"> Confirm Quota Admission </option>
                        <option value = "4"> Cancel Quota Admission </option>
                        </select>
                    </div>
                    <br>    <button type="submit" class="btn btn-primary">Submit </button>
                </form>
            </div>
            


            <div class="col-md-4">
                <br><br>
                <h3> Generate Subject Allocation for 1st Run </h3>
                <p>Generate general and quota merit list. </p>

                <a href="{{url_for('generate_subject_allocation')}}">
                    <button type="button" class="btn btn-primary float-right"> Subject Allocation 1st Run </button>
                </a>

            </div>

            <div class="col-md-4">
                <br><br>
                <h3> Run migration </h3>
                <p> Run migration for 2nd/3rd/4th run </p>
                <p> Students who are not admitted will not get a subject </p>

                <a href="{{url_for('run_migration')}}">
                    <button type="button" class="btn btn-primary float-right"> Migration Run </button>
                </a>

            </div>

            <div class="col-md-4">
                <br><br>
                <form action = "{{url_for('delete_form')}}"  method = "post">
                    <h3> Delete a Form </h3>
                    <div class="form-group">
                        <label for="delete_form">Examinee ID: </label>
                        <input type="text" class="delete_form" name="delete_form" id="delete_form">
                    </div>

                    <br>    <button type="submit" class="btn btn-primary">Delete Form</button>
                </form>

            </div>

        </div>
        
    </div>
</div>


{% endblock %}


