{% extends 'base.html'%}

{% block body%}
<div class="buffer" style="min-height: 3rem;"></div>
<div class="card">
    <div class="card-body">
        {% if flash_msg %}
        <div class="alert alert-warning" role="alert">
            {{flash_msg[0]}}
        </div> 
        {% endif %}
        <h2> Admin Home Page </h2>


        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo quam accusantium enim fugiat aperiam vero aut soluta nesciunt voluptatum ratione molestiae ad ipsam obcaecati unde, placeat praesentium voluptate. Aspernatur, culpa!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi labore obcaecati doloribus voluptatem, nam at repudiandae ut iure voluptate asperiores pariatur. Eos beatae dolorum excepturi, error quasi optio doloribus iure.
        </p>

        <br><br>
        <div class="row">
            <div class="col-md-7">
                <h3> Important Info </h3>
                <p>
                {% set rows = GLOBAL_DATA[0][0].split(';') %}
                {% for row in rows %}
                     {{ row }} </br>
                {% endfor %}
                </p>
            </div>
            <div class="col-md-4">
                <h3> Important Dates: </h3>
                <table class="table table-borderless ">
                    <tr> {% if GLOBAL_DATA[0][1] %} <td> <b>Apply Starts: </b> </td> <td>  {{ GLOBAL_DATA[0][1] }} </td> {% endif %} </tr>
                    <tr> {% if GLOBAL_DATA[0][2] %} <td> <b>Apply Ends: </b> </td> <td>  {{ GLOBAL_DATA[0][2] }} </td> {% endif %} </tr>
                    <tr> {% if GLOBAL_DATA[0][3] %} <td> <b>Exam on: </b> </td> <td>  {{ GLOBAL_DATA[0][3] }} </td> {% endif %} </tr>
                    <tr> {% if GLOBAL_DATA[0][4] %} <td> <b>Result On: </b> </td> <td>  {{ GLOBAL_DATA[0][4] }} </td> {% endif %} </tr>
                    <tr> {% if GLOBAL_DATA[0][5] %} <td> <b>Migration Starts: </b> </td> <td>  {{ GLOBAL_DATA[0][5] }} </td> {% endif %} </tr>
                </table>
                
            </div>
        </div>
    </div>
</div>

<div class="buffer" style="min-height: 1rem;"></div>
<div class="card">    
    <div class="card-body" style="padding: 1cm;">
        <form action = "{{url_for('process_update')}}" method = "post" enctype="multipart/form-data">
            <div class="row">
            <div class="col-md-7">
                <h3> Global Data </h3>
                    <div class="form-group">
                        <div class="row">
                            <div class="buffer" style="min-height: 1rem;"></div>
                            <h5> Application Period </h5>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="app-start-date">Start </label>
                                    <input type="date" class="form-control" name="app-start-date" id="app-start-date" aria-describedby="basic-addon1" placeholder="DD/MM/YYYY">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="app-end-date">End </label>
                                    <input type="date" class="form-control" name="app-end-date" id="app-end-date" aria-describedby="basic-addon1" placeholder="DD/MM/YYYY">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="buffer" style="min-height: 1rem;"></div>
                    <div class="form-group">
                        <label for="exam-date">Exam Date </label>
                        <input type="date" class="form-control" name="exam-date" id="exam-date" aria-describedby="basic-addon1" placeholder="DD/MM/YYYY">
                    </div>
                
                    <div class="buffer" style="min-height: 1rem;"></div>
                    <div class="form-group">
                        <label for="result-date">Result will be published on </label>
                        <input type="date" class="form-control" name="result-date" id="result-date" aria-describedby="basic-addon1" placeholder="DD/MM/YYYY">
                    </div>


                    <div class="buffer" style="min-height: 1rem;"></div>
                    <div class="form-group">
                        <label for="mig-date"> Migration </label>
                        <input type="date" class="form-control" name="mig-date" id="mig-date" aria-describedby="basic-addon1" placeholder="DD/MM/YYYY">
                    </div>
            </div>
            <div class="col-md-5">
                <div class="buffer" style="min-height: 6rem;"></div>
                    <div class="form-group">
                        <label for="state">State of the System</label>
                        <select class="state" id="state" name="state">
                        <option value = "0" selected>Unchanged</option>                            
                        <option value = "1">Apply Period</option>
                        <option value = "2">Examination</option>
                        <option value = "3">Subject Choice Selection</option>
                        <option value = "4">Migration</option>
                        </select>
                    </div>
                    <div class="buffer" style="min-height: 2rem;"></div>
                    <div class="form-group">
                        <h6>Admin Message: </h5>
                        <textarea class="admin-msg" name="admin-msg" id="admin-msg" rows="8" cols = "60"></textarea>
                    </div>
            </div>

            <div class="buffer" style="min-height: 3rem;"></div>
            <button type="submit" class="btn btn-primary">Update</button>

        </div>
        </form>
    </div>
    <div class="buffer" style="min-height: 1rem;"></div>

</div>


<div class="buffer" style="min-height: 1rem;"></div>
<div class="card">    
    <div class="card-body"  style="padding: 1cm;">
        <div class="row">
            <div class="col-md-4">
                <h3>Add Mark of an Examinee: </h3> 
                <form action = "#" method = "post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="EXAMINEE_ID">Examinee ID: </label>
                                <input type="text" class="form-control" name="EXAMINEE_ID" id="EXAMINEE_ID" placeholder="6 Digit Examinee ID">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="MATH_MARK">Math Mark: </label>
                                <input type="text" class="form-control" name="MATH_MARK" id="MATH_MARK" placeholder="Math Mark">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PHY_MARK">Phy Mark: </label>
                                <input type="text" class="form-control" name="PHY_MARK" id="PHY_MARK" placeholder="Phy Mark">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CHM_MARK">Chm Mark: </label>
                                <input type="text" class="form-control" name="CHM_MARK" id="CHM_MARK" placeholder="Chm Mark">
                            </div>
                        </div>
                    </div>
                    <br>    <button type="submit" class="btn btn-primary">Submit Mark</button>
                </form>
            </div>
            <div class="col-md-4">
                <h3> Update mark from a CSV file. </h3>
                <p>The CSV file should contain 4 column. Examinee_ID, math_mark, phy_mark and chm_mark</p>
                
            </div>
            <div class="col-md-4">
                <h3> Generate Merit List </h3>
                <div class="buffer" style="min-height: 1rem;"></div>

                <a href="{{url_for('generate_merit_list')}}">
                    <button type="button" class="btn btn-primary btn-lg float-right"> Generate Merit List </button>
                </a>

            </div>
            

        </div>
        
    </div>
</div>


{% endblock %}